.filter-classes-navlink:hover {
	background: #343148;
    color: #F7CAC9;
}

.filter-classes-navlink:active {
	background: #343148;
    color: #F7CAC9;
}

.classes-header-text {
	text-align:center!important;
	margin-bottom:30px!important;
}